In [1]:
import pandas as pd

In [2]:
air_df = pd.read_csv('TempData.csv')
air2016_df = air_df.drop(columns=['Year'])
air2016_df.set_index(['Month','Day','Time'],inplace=True)
air2016_df

                    Temp
Month Day Time
1     1   00:00:00  79.0
          00:30:00  79.0
          01:00:00  79.0
          01:30:00  77.0
          02:00:00  78.0
...                  ...
12    31  22:00:00  77.0
          22:30:00  77.0
          23:00:00  77.0
          23:00:00  77.0
          23:30:00  77.0

[20453 rows x 1 columns]

In [3]:
#Slicing data
air2016_df.loc[2,24,'00:30:00']

                    Temp
Month Day Time
2     24  00:30:00  77.0