In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv('BMIdata.csv')
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [7]:
data['obese'] = (data.Index >= 4).astype('int')
data.drop('Index', axis = 1, inplace = True)

In [9]:
y = data['obese']
p = y.value_counts()/y.shape[0]
gini = 1-np.sum(p**2)
gini

0.45132799999999995

In [11]:
a = y.value_counts()/y.shape[0]
entropy = np.sum(-a*np.log2(a+1e-9))
entropy

0.9285950911297123

In [1]:
def variance(y):
  '''
  Function to help calculate the variance avoiding nan.
  y: variable to calculate variance to. It should be a Pandas Series.
  '''
  if(len(y) == 1):
    return 0
  else:
    return y.var()